.body {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
}
.grid {
  display: grid;
  /* 최소 250px, 자리없으면 자동 줄바꿈 */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px 70px;
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
  margin-bottom: 60px;
}
@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
