.body {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 70px;
  margin-top: 40px;
  margin-bottom: 60px;
}
