.body {
  font-family: "Noto Sans";
  width: 100%;
  height: fit-content;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-right: 50px;
  place-content: 50px;
}
.totalBox {
  gap: 32px;
  position: relative;
  max-width: 1000px;
}
.vertical {
  position: absolute;
  width: 2px;
  left: 190px;
  top: 0;
  bottom: 0;
  background-color: #ddd;
  z-index: 0;
}
.careers {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.careerBox {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.logo {
  height: 160px;
  width: 160px;
  border-radius: 100%;
  border: 1.5px solid rgb(215, 215, 215);
}
.texts {
  width: 500px;
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.companyName {
  font-size: 28px;
  font-weight: bold;
}
.companyDuration {
  font-size: 18px;
  font-weight: 400;
  color: gray;
}
.companyIntro {
  font-size: 18px;
}

.role {
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
  gap: 10px;
  margin-bottom: 20px;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projectItem {
  display: flex;
  flex-direction: column;
}
.titleGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.titleHead {
  width: 5px;
  height: 100%;
  background-color: black;
}

.projectTitle {
  font-size: 18px;
  font-weight: bold;
}

.projectDuration {
  font-size: 16px;
  font-weight: 200;
  color: gray;
}
.projectSummary {
  font-size: 18px;
}
.line {
  width: 100%;
  height: 1px;
  background: rgb(182, 182, 182);
}
