.body {
  height: fit-content;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
}

.skills {
  width: 300px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (max-width: 1000px) {
  .skills {
    grid-template-columns: 1fr;
  }
}

.search {
  height: fit-content;
  width: 500px;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 2.5px solid #cccaca;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
}

.placeholder {
  font-size: 20px;
  width: 100%;
  background: transparent;
  border: none;
  /* color: black; */
}

.icon {
  height: 24px;
}

.searchTags {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  gap: 20px;
}

.searchTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}