.body {
  height: fit-content;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
}

.skills {
  width: 300px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (max-width: 1000px) {
  .skills {
    grid-template-columns: 1fr;
  }
}

.searchBox {
  width: 100%;
  position: relative;
  max-width: 500px;
  margin-bottom: 20px;
}

.search {
  font-size: 20px;
  width: 100%;
  border-radius: 50px;
  padding: 10px 40px 10px 20px;
  border: 2.5px solid #cccaca;
  outline: none;
}

.icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.searchTags {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.noResult {
  width: 100%;
  min-height: 100px;
  align-self: center;
}