.body {
  font-family: "Noto Sans";
  font-weight: 900;
  width: 100%;
  height: fit-content;
  background-color: #f9c51d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  row-gap: 20px;
  pad: 50px;
  background-color: #fcf3d5;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 20px 20px 15px rgb(0, 0, 0, 0.1);
}

.skillBox {
  width: fit-content;
  font-size: large;
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  gap: 10px;
}

.category {
  width: 160px;
  font-size: 20px;
  margin: 10px;
}

.skillContents {
  display: flex;
  /* 자리가 없으면 다음 줄로 */
  flex-wrap: wrap;
  gap: 10px;
  height: fit-content;
  /* 남은 공간 모두 차지하게 */
  flex: 1;
  width: auto;
}

.iconTitle {
  display: flex;
  justify-content: center;
  min-width: 150px;
}

.icon {
  width: 30px;
  object-fit: cover;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .skillBox {
    flex-direction: column;
    gap: 10px;
  }

  .iconTitle {
    justify-content: start;
    min-width: unset;
    padding-bottom: 5px;
    width: 100%;
  }

  .skillBox {
    align-items: start;
  }

  .box {
    padding: 20px;
  }
}