.body {
  font-family: "Noto Sans";
  font-weight: 900;
  width: 100%;
  height: fit-content;
  background-color: #f9c51d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  row-gap: 20px;
  pad: 50px;
  margin-bottom: 50px;
  background-color: #fcf3d5;
  padding: 32px;
  border-radius: 16px;
}

.skillBox {
  font-size: large;
  align-self: center;
  display: flex;
  flex-direction: col;
  align-items: center;
  gap: 10px;
}
.category {
  width: 160px;
  font-size: 20px;
  margin: 10px;
}
.skillContents {
  display: flex;
  width: 500px;
  gap: 10px;
}
