.body {
  font-family: "Noto Sans";
  font-weight: 900;
  width: 100%;
  height: fit-content;
  background-color: #f9c51d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
}
.box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  row-gap: 20px;
  pad: 50px;
  background-color: #fcf3d5;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 20px 20px 15px rgb(0, 0, 0, 0.1);
}

.skillBox {
  width: 100%;
  font-size: large;
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  gap: 10px;
}
.category {
  width: 160px;
  font-size: 20px;
  margin: 10px;
}
.skillContents {
  display: flex;
  /* 자리가 없으면 다음 줄로 */
  flex-wrap: wrap;
  width: 600px;
  /* 화면 좁아지면 줄어들게 */
  max-width: 1200px;
  gap: 10px;
  height: fit-content;
}
.iconTitle {
  display: flex;
  justify-content: center;
}
.icon {
  width: 30px;
  object-fit: cover;
}
@media (max-width: 50px) {
  .skillContents {
    grid-template-columns: 1fr;
  }
}
