.header {
  font-family: "Noto Sans";
  height: fit-content;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 20px 40px;
  background: white;
  box-shadow: 0 0 15px #7b7b7b;
}

.headerGroup {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  gap: 20px;
}

.headerTitle {
  min-width: fit-content;
  font-size: 18px;
  font-weight: 900;
}

.headerSubtitle {
  min-width: fit-content;
  font-size: 16px;
}

.contents {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
}

.mdBox {
  height: 100px;
  border: 1px solid rgb(194, 194, 194);
}

.commentBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentsInfo {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.writtenCommentBox {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.writtenComments {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.newCommentBox {}

.line {
  width: 100%;
  height: 1px;
  background: rgb(205, 205, 205);
}