.body {
  max-width: 1440px;
}

.contents {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
  margin-top: 80px;
}

.mdBox {
  min-height: 100px;
  height: fit-content;
  border: 1px solid rgb(194, 194, 194);
}

.commentBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentsInfo {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.writtenCommentBox {
  max-width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.writtenComments {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.line {
  width: 100%;
  height: 1px;
  background: rgb(205, 205, 205);
}