.body {
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}
.img {
  width: 32px;
  height: 32px;
  margin: 10px;
}
.text {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.category {
  font-size: 16px;
  font-weight: bold;
}
.content {
  font-size: 16px;
}
