.body {
  width: 460px;
  max-width: calc(100vw-40px);

  height: fit-content;
  font-family: "Noto Sans";
  padding: 20px;
  color: black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 0 15px #7b7b7b;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer !important;
}

.body:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-color: black;
}

.top {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.memberCount {
  background-color: rgb(234, 130, 10);
  padding: 8px 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  height: fit-content;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.intro {
  font-size: 20x;
  font-weight: 700;
}

.serviceLink {
  color: #727272;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}

.serviceLink:hover {
  color: #007bff;
  text-decoration: underline;
  transform: translateY(-1px);
}

.serviceLink img {
  height: 14px;
  margin: 5px;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
}

.description {
  font-size: 16px;
  font-weight: normal;
}

.line {
  width: 100%;
  min-height: 1.5px;
  background-color: black;
  z-index: 1000;
}

.skills {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.duration {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  font-size: 14px;
  color: #8d8d8d;
  float: right;
}
@media (max-width: 480px) {
  .body {
    width: 100%;
    padding: 15px;
  }
  .title {
    font-size: 20px;
  }
  .intro {
    font-size: 16px;
  }
  .subtitle {
    font-size: 18px;
  }
  .description {
    font-size: 14px;
  }
  .skills {
    font-size: 10px;
  }
}
