.body {
  width: 460px;
  height: 460px;
  font-family: "Noto Sans";
  padding: 25px 30px;
  border: 2px solid #c3c3c3;
  color: black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 8px;
}
.top {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.memberCount {
  background-color: aquamarine;
  padding: 8px 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  height: fit-content;
}
.icon {
  width: 70px;
  height: 70px;
  color: black;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.title {
  font-size: 24px;
  font-weight: bold;
  -webkit-text-stroke: 0.5px black;
}
.serviceLink {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: normal;
}
.serviceLink img {
  height: 14px;
  margin: 5px;
}
.subtitle {
  font-size: 18px;
  font-weight: bold;
  -webkit-text-stroke: 0.5px black;
}
.description {
  font-size: 14px;
  font-weight: normal;
}

.line {
  width: 100%;
  min-height: 1.5px;
  background-color: black;
}
.skills {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.duration {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  font-size: 14px;
  color: #8d8d8d;
  float: right;
}
