.container {
  display: flex;
  align-items: center;
  flex-direction: row; /*위(글자 + 아이콘) 아래(밑줄)*/
  padding: 30px 20px;
}
.titleWrapper {
  align-items: center;
  gap: 15px;
}
.img {
  width: 40px;
  height: auto;
  margin: 10px 20px;
}

.title {
  font-family: "Black Han Sans";
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.line {
  /* 부모너비만큼 길게 */
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin-top: 6px;
}
.blank {
  width: 60px;
}
