.container {
  display: flex;
  align-items: center;
  flex-direction: row; /*위(글자 + 아이콘) 아래(밑줄)*/
  padding: 30px 20px;
}
.titleWrapper {
  display: conlumn;
  /* 아이콘과 글자 세로정렬 */
  align-items: center;
  gap: 15px;
}
.img {
  width: 40px;
  height: 0%;
  margin: 10px 20px;
}

.title {
  font-family: "Black Han Sans";
  font-size: 50px;
  font-weight: bold;
  /* 제목 기본 여백제거 */
  margin: 0;
}
.line {
  /* 부모너비만큼 길게 */
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin-top: 10px;
}
